<extend name="Public:layout" />
<block name="body">
    <span class="nowpage" style="display:none;">3</span>
    <include file="Public:header" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 sidebar   ">
                <include file="Public:left" />
            </div>
            <div class="col-md-10 col-md-offset-2 main">
                <div class="container">
                    <div class="raw">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#">自动组卷</a></li>
                            <li><a href="#">手动组卷</a></li>
                        </ul>
                    </div>
                    <div class="raw">
                        <div class="col-md-3" >
                            
                        </div>
                        <div class="col-md-9" >
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- /container -->


</block>

<block name="js">
    

</block>