<extend name="Public:layout" />
<block name="body">
    <include file="Public:header" />
    <div class="container-fluid" style="padding-top:71px;">
        <div class="row">
            <div class="col-md-2 sidebar   ">
                <include file="Public:left" />
            </div>
            <div class="col-md-10 col-md-offset-2 main">
                <div class="container">
                    <div class="raw">
                        <div class="col-md-4 no-padding">
                            <form class="bs-example bs-example-form" role="form">
                                <div class="form-group">
                                    <div class="input-group ">
                                        <span class="input-group-addon">搜索:</span>
                                        <input type="text" class="form-control" placeholder="请输入关键字..." id="search">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 no-padding">
                            <div class="btn-group pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color: #2c84fb;">
                                        <span class="glyphicon glyphicon-plus" style="color: #2c84fb;"></span>新增模拟试卷
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">新增模拟试卷</a></li>
                                        <li><a href="#">从模版中新增模拟试卷</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="color: #2c84fb;">
                                        <span class="glyphicon glyphicon-plus" ></span>新增考试试卷
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);" onclick="showAddPaperModal();" >新增考试试卷</a></li>
                                        <li><a href="#">从模版中新增考试试卷</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-default">批量删除</button>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <table class="table table-hover table-striped">
                            <caption></caption>
                            <thead>
                                <tr>
                                <th><input type="checkbox" name="total" /> </th>
                                <th>编号</th>
                                <th>科目</th>
                                <th>考生</th>
                                <th>试卷名</th>
                                <th>总分</th>
                                <th>题数</th>
                                <!--<th>测试类型</th>-->
                                <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="list" item="vo"  >
                                <tr>
                                <td><input type="checkbox" name="{$vo['id']}" /> </td>
                                <td>{$vo['id']}</td>
                                <td>{$vo['subname']}</td>
                                <td>{$vo['username']}</td>
                                <td>{$vo['cpapname']}</td>
                                <td>{$vo['itotscore']}</td>
                                <td>{$vo['iprbnum']}</td>
                                <!--<td>{$vo['itesttype']}</td>-->
                                <td>
                                    <ul class="list-inline">
                                    <li><a href="{:U('Paper/edit',array('id'=>$vo['id']))}">修改试卷</a></li>
                                    <li><a href="javascript:void(0);" onclick="showAddPrbModal({$vo['id']});">添加题目</a></li>
                                    <if condition="$vo['itesttype'] eq 1">
                                    <li><a href="javascript:void(0);" onclick="showDistributeModal({$vo['id']});" >分发试卷</a></li>
                                    </if>
                                    <li><a href="{:U('Paper/delete',array('id'=>$vo['id']))}">删除</a></li>
                                    </ul>
                                </td>
                                </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                    <div class="blank" style="height:20px;" ></div>
                    <div class="raw">
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('Paper/index',array('pageNum'=>1))}'">首&nbsp&nbsp页</button>
                        <if condition="$nowpage gt 1">
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('Paper/index',array('pageNum'=>$nowpage-1))}'">上一页</button>
                        <else />
                        <button type="button" class="btn btn-warning" disabled="disabled">上一页</button>
                        </if>
                        <if condition="$nowpage lt $total">
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('Paper/index',array('pageNum'=>$nowpage+1))}'">下一页</button>
                        <else />
                        <button type="button" class="btn btn-warning" disabled="disabled">下一页</button>
                        </if>
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('Paper/index',array('pageNum'=>$total))}'">末&nbsp&nbsp页</button>
                    </div>

                </div>
            </div>
        </div>
        
    </div> <!-- /container -->

    <!--新增试卷-->
    <div class="modal fade" id="addPaperModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">新增试卷</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addpaperform" action="{:U('Paper/addPaper')}" method="POST">
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">试卷名称</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="请输入试卷名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="sub" class="col-sm-2 control-label">科目</label>
                            <div class="col-sm-10">
                            <select id="sub" name="subid" class="form-control" >
                                <foreach name="subjects" item="sub">
                                    <option value="{$sub['id']}">{$sub['cname']}</option>
                                </foreach>
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time" class="col-sm-2 control-label">考试时间</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="time" name="time" placeholder="请输入考试时间，单位分">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" form="addpaperform">确认新增</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    <!--添加题目-->
    <div class="modal fade" id="addPrbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">添加试题</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="addprbform" action="{:U('Paper/addPrb')}" method="POST">
                        <input type="text" name="id" id="paperid" style="display:none;" />
                        <div class="form-group">
                            <label for="sub" class="col-sm-2 control-label">题目类型</label>
                            <div class="col-sm-10">
                            <select id="type" name="typeid" class="form-control" >
                            </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time" class="col-sm-2 control-label">题目编号</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="prbid" name="prbid" placeholder="请输入题目编号">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">分值</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="score" name="score" placeholder="请输入题目分值">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" form="addprbform">确认添加</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

    <!--分发试卷-->
    <div class="modal fade" id="distributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">分发试卷</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="distributeform" action="{:U('Paper/distribute')}" method="POST">
                        <input type="text" name="id" id="fpaperid" style="display:none;" />
                        <div class="form-group">
                            <label for="user" class="col-sm-2 control-label">考生学号</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="user" name="user" placeholder="请输入考生学号">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" form="distributeform">确认</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</block>

<block name="js">
    <script>
        function showAddPaperModal(){
            $("#addPaperModal #name").val("");
            $("#addPaperModal #time").val("");
            $.ajax({
                type:"post",
                url : "{:U('Paper/getSub')}",
                success:function(data){
                    for (i in data){
                        var option = $("<option></option>");
                        option.attr("value",data[i].id);
                        option.text(data[i].cname);
                        $("#addPaperModal #sub").append(option);
                    }
                     
                }

            });
            $("#addPaperModal").modal({});
        }
        function showAddPrbModal(id){
            $("#paperid").val(id);
            $("#prbid").val("");
            $("#score").val("");
            $.ajax({
                type:"post",
                url : "{:U('Paper/getType')}",
                success:function(data){
                    $("#type").empty();
                    for (i in data){
                        var option = $("<option></option>");
                        option.attr("value",data[i].id);
                        option.text(data[i].cname);
                        $("#type").append(option);
                    }
                     
                }

            });
            $("#addPrbModal").modal({});
        }
        function showDistributeModal(id){
            $("#fpaperid").val(id);
            
            $("#distributeModal").modal({});
        }
    </script>

</block>