<div class="container-fluid" style="padding-right: 0px;padding-left: 0px;">
    <div class="raw">
        <div class="container">
            <div class="raw">
                <div class="col-md-12" style="text-align:center;color:#7c7c7c;">
                    <p id="sdate" style="font-size:18px;line-height:18px;margin:10px 0px;"></p>
                    <p style="font-size:18px;line-height:18px;margin:10px 0px;">刘禹鹏 版权所有</p>
                </div>
            </div>
        </div>
    </div>
</div>