<extend name="Public:layout" />
<block name="body">
    <include file="Public:header" />
    <div class="container" style="min-height:425px;">
        <table>
            <tr>
                <td style="height:100px;"></td>
            </tr>
            <tr>
                <td style="width:300px;"></td>
                <td style="width:100px;height:100px;">
                    <img src="__PUBLIC__/img/Home/1.png"  alt="提交完成" />
                </td>
                <td style="height:100px;"><h2 style="font-size:24px;line-height:100px;padding-left:50px;">提交成功！</h2></td>
            </tr>
        </table>
        
    </div>

    <include file="Public:footer" />
</block>

<block name="js">
    

</block>