<extend name="Public:layout" />
<block name="body">
    <span class="nowpage" style="display:none;">1</span>
    <include file="Public:header" />
    <div class="container-fluid" style="padding-top:71px;">
        <div class="row">
            <div class="col-md-2 sidebar   ">
                <include file="Public:left" />
            </div>
            <div class="col-md-10 col-md-offset-2 main">
                <div class="container">
                    <div class="raw">
                        <ul class="nav nav-tabs">
                            <li><a href="{:U("Problem/select")}">选择题</a></li>
                            <li><a href="{:U("Problem/blank")}">填空题</a></li>
                            <li><a href="{:U("Problem/judge")}">判断题</a></li>
                            <li class="active"><a href="{:U("Problem/readCode")}">程序阅读题</a></li>
                            <li><a href="{:U("Problem/code")}">代码补全题</a></li>
                            <li><a href="{:U("Problem/codeWrite")}">编写程序题</a></li>
                        </ul>
                    </div>
                    <div class="blank" style="height:30px;" ></div>
                    <div class="raw">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        新增
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <form class="form-horizontal" role="form" id="thisform" action="{:U('Problem/setReadC')}" method="POST">
                                        <div class="form-group">
                                            <label for="subid" class="col-md-2 control-label">科目</label>
                                            <div class="col-md-10">
                                            <select class="form-control sel-subject" name="subid" id="subid" onchange="setChapter($('select.sel-subject'));">
                                                <foreach name="subjects" item="subject" >
                                                    <option value="{$subject['id']}" >{$subject['cname']}</option>
                                                </foreach>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="chaid" class="col-md-2 control-label">章节</label>
                                            <div class="col-md-10">
                                            <select class="form-control sel-chapter" name="chaid" id="chaid">
                                                <option>请输入科目</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">题目</label>
                                            <div class="col-md-10">
                                            <textarea  name="title" cols="75" rows="4" placeholder="请输入题目..." wrap="hard"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">正确答案</label>
                                            <div class="col-md-10">
                                                <input type="text" name="correct" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">解析</label>
                                            <div class="col-md-10">
                                                <input type="text" name="key" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="raw">
                            <div class="col-md-8 col-md-offset-2">
                                <button type="submit" class="btn btn-warning" form="thisform">确定</button>
                                <button type="button" class="btn btn-warning" onclick="location.href='{:U("Problem/readCode")}'">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div> <!-- /container -->


</block>

    
<block name="js">
    <load href="__PUBLIC__/js/Admin/Problem/add-edit.js" />
</block>
    