<extend name="Public:layout" />
<block name="body">
    <span class="nowpage" style="display:none;">2</span>
    <include file="Public:header" />
    <div class="container-fluid" style="padding-top:71px;">
        <div class="row">
            <div class="col-md-2 sidebar   ">
                <include file="Public:left" />
            </div>
            <div class="col-md-10 col-md-offset-2 main">
                <div class="container">
                    <div class="raw">
                        <div class="col-md-4 no-padding">
                            <form class="bs-example bs-example-form" role="form">
                                <div class="form-group">
                                    <div class="input-group ">
                                        <span class="input-group-addon">搜索:</span>
                                        <input type="text" class="form-control" placeholder="请输入关键字..." id="search">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-8 no-padding">
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-primary btn-warning" data-toggle="modal" data-target="#addModel">
                                    <span class="glyphicon glyphicon-plus" style="color: rgb(255, 255, 255);"></span>新增
                                </button>
                                <button type="button" class="btn btn-default">批量删除</button>
                            </div>
                        </div>
                    </div>
                    <div class="raw">
                        <table class="table table-hover table-striped">
                            <caption></caption>
                            <thead>
                                <tr>
                                <th><input type="checkbox" name="total" /> </th>
                                <th>编号</th>
                                <th>科目</th>
                                <th>模版名称</th>
                                <th>题量</th>
                                <th>总分</th>
                                <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <foreach name="list" item="vo"  >
                                <tr>
                                <td><input type="checkbox" name="{$vo['id']}" /> </td>
                                <td>{$vo['id']}</td>
                                <td>{$vo['subname']}</td>
                                <td>{$vo['ctemname']}</td>
                                <td>{$vo['iprbnum']}</td>
                                <td>{$vo['itotscore']}</td>
                                <td>
                                    <ul class="list-inline">
                                    <li><a href="{:U('PaperTem/edit',array('id'=>$vo['id']))}">修改模版</a></li>
                                    <li><a href="{:U('PaperTem/delete',array('id'=>$vo['id']))}">删除</a></li>
                                    </ul>
                                </td>
                                </tr>
                                </foreach>
                            </tbody>
                        </table>
                    </div>
                    <div class="blank" style="height:20px;" ></div>
                    <div class="raw">
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('PaperTem/index',array('pageNum'=>1))}'">首&nbsp&nbsp页</button>
                        <if condition="$nowpage gt 1">
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('PaperTem/index',array('pageNum'=>$nowpage-1))}'">上一页</button>
                        <else />
                        <button type="button" class="btn btn-warning" disabled="disabled">上一页</button>
                        </if>
                        <if condition="$nowpage lt $total">
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('PaperTem/index',array('pageNum'=>$nowpage+1))}'">下一页</button>
                        <else />
                        <button type="button" class="btn btn-warning" disabled="disabled">下一页</button>
                        </if>
                        <button type="button" class="btn btn-warning" onclick="location.href='{:U('PaperTem/index',array('pageNum'=>$total))}'">末&nbsp&nbsp页</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">添加试卷模版</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" action="{:U('PaperTem/addTem')}" method="POST" id="addform">
                            
                            <div class="form-group">
                                <label for="sub" class="col-sm-2 control-label">科目</label>
                                <div class="col-sm-10">
                                <select id="sub" name="subid" class="form-control" >
                                    <foreach name="subjects" item="sub">
                                        <option value="{$sub['id']}">{$sub['cname']}</option>
                                    </foreach>
                                </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="temname" class="col-sm-2 control-label">模版名称</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="temname" name="temname" placeholder="请输入模版名称">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="remark" class="col-sm-2 control-label">备注</label>
                                <div class="col-sm-10">
                                <input type="text" class="form-control" id="remark" name="remark" placeholder="备注可以没有">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" form="addform">确认添加</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->

        </div>
        
    </div> <!-- /container -->


</block>

<block name="js">
    

</block>